<% content_for :title do %>Holmes Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="materials" data-view="List" data-unordered="true" data-title="Materials"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="locks" data-view="List" data-unordered="true" data-title="Locks"></div>
    </li>
  </ul>
</div>
